/*
* AEM related styles - AEM
*/

.instagram-container {
  min-height: 500px;
  margin-top: 138px;
  opacity: 0;
  transition: all 5s ease;
  @media #{$small-up} {
    margin-top: 0;
  }
  .insta-item {
    margin-bottom: 40px;
    p,h3 {
      display: inline-block;
      padding-right: 10px;
      font-size: 10px;
      margin-top: 5px;
    }
  }
  video {
    width: 100%;
  }
  h3 {
    margin-bottom: 0;
    font-weight: normal;
  }
  &.fade-in {
    opacity: 1;
  }
}