/*
* AEM related styles - AEM
*/

body {
  background-color: #fffbf3;
}
h1 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 23px;
  margin: 0;
  text-transform: uppercase;
}
img {
  width: 100%;
}