// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss
// Add all global variabled such as colors, etc.


$lpl-blue: #005985;
$lpl-white: #fff;
$lpl-orange: #cf4800;
$lpl-black: #444444;
$lpl-dark-gray: #4b4d52;
$lpl-light-gray: #f1f1f1;
$lpl-border-gray: #d3d3d3;
$lpl-simple-gray: #e6e6e6;