/* Webfont: UniversLTStd-Light - Univers Light */
@font-face {
  font-family: 'univers-light';
  src: url('fonts/univers-light/UniversLTStd-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/univers-light/UniversLTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/univers-light/UniversLTStd-Light.woff') format('woff'), /* Modern Browsers */
  url('fonts/univers-light/UniversLTStd-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/univers-light/UniversLTStd-Light.svg#UniversLTStd-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: UniversLTStd-Cn - Univers Condensed */
@font-face {
  font-family: 'univers-cn';
  src: url('fonts/univers-cn/UniversLTStd-Cn.eot'); /* IE9 Compat Modes */
  src: url('fonts/univers-cn/UniversLTStd-Cn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/univers-cn/UniversLTStd-Cn.woff') format('woff'), /* Modern Browsers */
  url('fonts/univers-cn/UniversLTStd-Cn.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/univers-cn/UniversLTStd-Cn.svg#UniversLTStd-Cn') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: UniversLTStd-UltraCn - Univers Ultra Condensed*/
@font-face {
  font-family: 'univers-ultra-cn';
  src: url('fonts/univers-ultra-cd/UniversLTStd-UltraCn.eot'); /* IE9 Compat Modes */
  src: url('fonts/univers-ultra-cd/UniversLTStd-UltraCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/univers-ultra-cd/UniversLTStd-UltraCn.woff') format('woff'), /* Modern Browsers */
  url('fonts/univers-ultra-cd/UniversLTStd-UltraCn.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/univers-ultra-cd/UniversLTStd-UltraCn.svg#UniversLTStd-UltraCn') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: UniversLTStd-Bold - Univers Condensed*/
@font-face {
  font-family: 'univers-bold';
  src: url('fonts/univers-light/UniversLTStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/univers-light/UniversLTStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/univers-light/UniversLTStd-Bold.woff') format('woff'), /* Modern Browsers */
  url('fonts/univers-light/UniversLTStd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/univers-light/UniversLTStd-Bold.svg#UniversLTStd-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Webfont: UniversLTStd-BoldCn - Univers Bold Condensed */
@font-face {
  font-family: 'univers-bold-cn';
  src: url('fonts/univers-light-cn/UniversLTStd-BoldCn.eot'); /* IE9 Compat Modes */
  src: url('fonts/univers-light-cn/UniversLTStd-BoldCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/univers-light-cn/UniversLTStd-BoldCn.woff') format('woff'), /* Modern Browsers */
  url('fonts/univers-light-cn/UniversLTStd-BoldCn.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/univers-light-cn/UniversLTStd-BoldCn.svg#UniversLTStd-BoldCn') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}